@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

li.dropdown:hover {
  background-color: #e7e7e7;
}



div.col-lg-3 {
  padding-bottom: 10px;
}

a.menu-heading {
  margin: 10px 0px 0px 0px;
  line-height: 1;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  color: #4988b3;
  border-bottom: 3px solid #e3f2fd;
}

a.menu-heading:hover {
  font-size: 18px;
  text-decoration: none;
}

div.col-lg-3 > p {
  margin: 0px 0px 5px;
}

.dropdown-menu {
  min-width: 1150px;
  margin-left: -575px;
}

ul.list-unstyled li {
  margin-top: 0px;
  font-size: 12px;
  line-height: 150%;
  xfont-family: inherit;
  xfont-weight: 500;
}

ul.list-unstyled a:hover {
  font-size: 14px;
  text-decoration: none;
}

/*.dropdown-menu li a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}*/